$text-primary:#ff0;
$text-secondary:#00f;
$text-danger:#f00;
$text-dark:#101;
$text-white:#fff;

$background-primary:#ff0;
$background-secondary:#00f;
$background-secondary:#f00;
$background-dark:#101;
$background-white:#fff;
